section#home-main {
    background-image: url(/static/public/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.py-special {
    padding-top: 3.5em !important;
    padding-bottom: 3.5em !important;
}


/* CSS CLASSES FOR JOB OFFERS BAG */

.col_a {
    background-color: #E9E9E9;
    height: 100%;
}

.col_b {
    background-color: #ffffff;
    height: 100%;
}

.col_c {
    height: 100%;
}

.panel_news {
    border-radius: 5px;
    background-color: #C9C9C9;
}

.news_title {
    font-size: 10px;
    font-weight: bold;
}

.news_content {
    font-size: 10px;
}

.panel_contact {
    border-radius: 5px;
    background-color: #C9C9C9;
}

.contact_title {
    font-size: 10px;
    font-weight: bold;
}

.contact_content {
    font-size: 10px;

}

.anyClass {
    overflow-y: scroll;
}




.panel_applicant {
    width: auto;
    border-radius: 5px;
    background-color: #C9C9C9;
}

.applicant_title {
    font-size: 10px;
    font-weight: bold;
}

.applicant_text {
    font-size: 10px;
}

.applicant_data_text {
    font-size: 10px;
}


.tlb_applicant_data {
    width: 100%;
}


.panel_offers {
    width: auto;
    border-radius: 5px;
    background-color: #C9C9C9;
}

.offers_title {
    font-size: 10px;
    font-weight: bold;
}

.offers_text {
    font-size: 10px;

}

.offers_data_text {
    font-size: 10px;
}

.tbl_offer_data {
    width: 100%;
}

.tbl_filter {
    background-color: #C9C9C9;
    width: 100%;
}
.tbl_interests {
    background-color: #C9C9C9;
    width: 100%;
}



