section#home-main {
    background-image: url(/static/public/img/people_working.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p#introductoryMessage {
    text-shadow: 0.0em 0.06em 0.5em blueviolet !important;
}

a#home-link-presentation {
    position: absolute !important;
    top: 64px;
    left: 6px;
    color: purple;
}

.home-bg {
    background-color: #7ae177 !important;
}

a#joinus {
    color: #551a8b !important;
    font-style: italic;
}

.py-special {
    padding-top: 3.6em !important;
    padding-bottom: 3.0em !important;
}

.mt-n2b {
    margin-top: -.65rem !important;
}

.mt-n4b {
    margin-top: -2.35rem !important;
}

#CRUDProfileProgressbarContainer {
    height: 9px;
}

.w-1 {
    width: 1% !important;
}
.w-16 {
    width: 16% !important;
}
.w-32 {
    width: 32% !important;
}
.w-48 {
    width: 48% !important;
}
.w-64 {
    width: 64% !important;
}
.w-80 {
    width: 80% !important;
}

.is-checking {
    border-color: #0069d9;
    padding-right: calc(1.5em + .75rem);
    background-image: url(/static/public/img/loading.svg);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* CSS CLASSES FOR JOB OFFERS BAG */

.col_a {
    background-color: #E9E9E9;
    height: 100%;
}

.col_b {
    /*background-color: #ffffff;*/
    height: 100%;
}

.col_c {
    height: 100%;
}

.panel_news {
    border-radius: 5px;
    background-color: #C9C9C9;
}

.news_title {
    font-size: 14px;
    font-weight: bold;
}

.news_content {
    font-size: 12px;
}

.panel_contact {
    border-radius: 5px;
    background-color: #C9C9C9;

}

.contact_title {
    font-size: 10px;
    font-weight: bold;
}

.contact_content {
    font-size: 10px;

}

.anyClass {
    overflow-y: scroll;
}




.panel_applicant {
    width: auto;
    border-radius: 5px;
    background-color: #C9C9C9;
}

.applicant_title {
    font-size: 10px;
    font-weight: bold;
}

.applicant_text {
    font-size: 12px;
}

.applicant_data_text {
    font-size: 12px;
}


.tlb_applicant_data {
    width: 100%;
}


.panel_offers {
    width: 100%;
    border-radius: 5px;
    background-color: #C9C9C9;
    padding-left: 0;
    padding-right: 0;
}

.offers_title {
    font-size: 10px;
    font-weight: bold;
}

.offers_text {
    font-size: 12px;

}

.offers_data_text {
    font-size: 12px;
}

.tbl_offer_data {
    width: 100%;
    border: 1px solid black;
}

.tbl_filter {
    background-color: #C9C9C9;
    width: 100%;
}

.tbl_interests {

    width: 100%;
}

.panel_filter {
  width: auto;
  border-radius: 5px;
  color: #e85d04;
  background-color: #FEFAE0;
}

.title-post {
	background-color: darkgreen;
	color: white;
	border-radius: 5px 5px 0 0
}

.title-offer-post {
	background-color: blueviolet;
	color: white;
	border-radius: 5px 5px 0 0
}

.title-matches-post {
	background-color: crimson;
	color: white;
	border-radius: 5px 5px 0 0
}