<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top font-weight-bold">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img class="pb-1" alt="BIT" width=32 height=32 th:src="@{/static/public/logo/favicon-32x32.png}">
                <span class="mb-0">Bolsa Inclusiva de Trabajo - Postulantes</span>
            </a>

            <button class="navbar-toggler p-1 px-sm-2"
                    id="navbar-toggler-button"
                    type="button"
                    data-toggle="collapse"
                    data-target="#headerNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="headerNavbar">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="bi bi-house" data-toggle="tooltip" data-original-title="Inicio"></i>
                        </a>
                    </li>
                    <li class="nav-item ml-2">
                        <h6 class="nav-link"  style="color: cyan;">Postulantes</h6>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" href="/matches">Contactos</a>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link" href="/bagoffers">Trabajos</a>
                    </li>

                    <li class="nav-item ml-2">
                        <p class="nav-link"  th:text="${#authentication.name}">John</p>
                    </li>
                    <li class="nav-item ml-2">
                        <a class="nav-link"  href="/user" >
                            <i class="text-primary bi bi-gear" data-toggle="tooltip" data-original-title="Mi perfil"></i>
                        </a>
                    </li>
                    <li class="nav-item ml-2">
                        <form th:action="@{/logout}" method="POST">
                            <button type="submit" class="btn px-0">
                                <i class="text-primary bi bi-box-arrow-right" data-toggle="tooltip" data-original-title="Salir"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
</html>
