<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" id="footer">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-0">
        <div class="container ">
            <div class="navbar row justify-content-around mx-auto">
                <a class="nav-link  text-light" href="#"><i class="bi bi-linkedin"></i></a>
                <a class="nav-link  text-light" href="#"><i class="bi bi-twitter"></i></a>
                <a class="nav-link  text-light" href="#"><i class="bi bi-instagram"></i></a>
                <a class="nav-link  text-light" href="#"><i class="bi bi-slack"></i></a>
                <a class="nav-link  text-light" href="#"><i class="bi bi-telegram"></i></a>
                <a class="nav-link  text-light" href="#"><i class="bi bi-whatsapp"></i></a>
                <a class="nav-link  text-light" href="#"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </nav>


</div>
</html>
