<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <nav th:fragment="footer" id="verticalAdjFooter"
         class="navbar navbar-expand-lg navbar-dark bg-dark font-weight-bold fixed-bottom">
        <div class="container">
            <a class="navbar-brand row text-center mx-auto py-0" href="/">
                <span class="h6 d-block mb-0" th:text="#{title}">Bolsa Inclusiva de Trabajo</span>
            </a>
            <div class="navbar row justify-content-around mx-auto">
                <a href="" class="nav-link h4 text-light pt-0 pb-1 my-0"><i class="bi bi-linkedin"></i></a>
                <a href="" class="nav-link h4 text-light pt-0 pb-1 my-0"><i class="bi bi-twitter"></i></a>
                <a href="" class="nav-link h4 text-light pt-0 pb-1 my-0"><i class="bi bi-instagram"></i></a>
                <a href="" class="nav-link h4 text-light pt-0 pb-1 my-0"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </nav>

</html>
