<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark font-weight-bold pb-0">
        <div class="container">
            <a class="navbar-brand row text-center mx-auto" th:href="@{/}">
                <span class="h2 d-block mb-n1">BIT</span>
                <span class="h5 d-block mb-0">Bolsa Inclusiva de Trabajo</span>
            </a>
            <div class="navbar row justify-content-around mx-auto">
                <a class="nav-link h2 text-light" href="#"><i class="bi bi-linkedin"></i></a>
                <a class="nav-link h2 text-light" href="#"><i class="bi bi-twitter"></i></a>
                <a class="nav-link h2 text-light" href="#"><i class="bi bi-instagram"></i></a>
                <a class="nav-link h2 text-light" href="#"><i class="bi bi-slack"></i></a>
                <a class="nav-link h2 text-light" href="#"><i class="bi bi-telegram"></i></a>
                <a class="nav-link h2 text-light" href="#"><i class="bi bi-whatsapp"></i></a>
                <a class="nav-link h2 text-light" href="#"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </nav>

    <div class="container-fluid bg-dark font-weight-bold mx-auto mb-0 pb-4">
        <div class="row">
            <a class="col text-center text-white"
               href="https://github.com/orgs/bolsa-inclusiva-de-trabajo/people">
                <small>Equipo de Diseño y Desarrollo</small>
            </a>
        </div>
    </div>
</div>
</html>
