<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top font-weight-bold">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <span class="mb-0">BIT Bolsa Inclusiva de Trabajo</span>
            </a>

            <button class="navbar-toggler p-1 px-sm-2"
                    id="navbar-toggler-button"
                    type="button"
                    data-toggle="collapse"
                    data-target="#headerNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="headerNavbar">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#benefits">Beneficios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""
                           data-toggle="modal" data-target="#logIn">Ingresá</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>
