<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="modal" class="modal" id="ModalCRUDProfileUser">

        <script th:inline="javascript">
            /*<![CDATA[*/

            document.texts = {
                notEmpty:              /*[[#{logup.notEmpty}]]*/ '«notEmpty»',
                usernameAlreadyExists: /*[[#{logup.usernameAlreadyExists}]]*/ '«usernameAlreadyExists»',
                emailAlreadyExists:    /*[[#{logup.emailAlreadyExists}]]*/ '«emailAlreadyExists»',
                passwordsNotEqual:     /*[[#{logup.passwordsNotEqual}]]*/ '«passwordsNotEqual»',
            };

            /*]]>*/
        </script>

        <form action="/api/user/edit" method="POST">

            <div class="modal-dialog" id="CRUDProfileUser">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="modal-title h4" th:text="#{logup.title}">title</div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="progress mb-3">
                            <div class="progress-bar w-0" role="progressbar"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputUserName" th:text="#{username.text}">username</label>
                            <input class="form-control" id="inputUserName"
                                   name="username" type="text" th:placeholder="#{username.text}"/>
                            <div class="invalid-feedback" id="invalid-feedback-UserName"></div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputEMail" th:text="#{email.text}">email</label>
                            <input class="form-control" id="inputEMail"
                                   name="email" type="text" th:placeholder="#{email.text}"/>
                            <div class="invalid-feedback" id="invalid-feedback-EMail"></div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputPassword" th:text="#{password.text}">password</label>
                            <input class="form-control" id="inputPassword"
                                   name="password" type="password" th:placeholder="#{password.text}"/>
                            <div class="invalid-feedback" id="invalid-feedback-password"></div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputPassword2" th:text="#{repeatPassword.text}">repeat password</label>
                            <input class="form-control" id="inputPassword2"
                                   type="password" th:placeholder="#{repeatPassword.text}"/>
                            <div class="invalid-feedback" id="invalid-feedback-password2"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="SubmitCRUDProfileUser"
                                type="button" th:text="#{action.next}">next</button>
                    </div>
                </div>
            </div>

            <div class="modal-dialog" id="CRUDProfileUserData" style="display: none;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title h4" th:text="#{logup.title}">title</div>
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="progress mb-3">
                            <div class="progress-bar w-16" role="progressbar"
                                 aria-valuenow="16" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputName" th:text="#{logup.firstName}">first_name</label>
                            <input class="form-control" id="inputName"
                                   name="firstName" type="text" th:placeholder="#{logup.firstName}"/>
                            <div class="invalid-feedback" th:text="#{logup.notEmpty}">not empty</div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputLastName" th:text="#{logup.lastName}">last_name</label>
                            <input class="form-control" id="inputLastName"
                                   name="lastName" type="text" th:placeholder="#{logup.lastName}"/>
                            <div class="invalid-feedback" th:text="#{logup.notEmpty}">not empty</div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputBirthDate" th:text="#{logup.birthDate}">birth_date</label>
                            <input class="form-control" id="inputBirthDate"
                                   name="birthDate" type="text" th:placeholder="#{logup.birthDate}"/>
                            <div class="invalid-feedback" th:text="#{logup.wrongFormat}">wrong format</div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="PrevCRUDProfileUserData"
                                type="button" th:text="#{action.prev}">prev</button>
                        <button class="btn btn-secondary"  id="SubmitCRUDProfileUserData"
                                type="button" th:text="#{action.next}">next</button>
                    </div>
                </div>
            </div>

            <div class="modal-dialog" id="CRUDProfileCity" style="display: none;">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="modal-title h4" th:text="#{logup.title}">title</div>
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="progress mb-3">
                            <div class="progress-bar w-32" role="progressbar"
                                 aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputCountry" th:text="#{logup.country}">country</label>
                            <select class="form-control" id="inputCountry" name="country">
                                <option>Argentina</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputState" th:text="#{logup.state}">state</label>
                            <select class="form-control" id="inputState" name="state">
                                <option>Misiones</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputCity" th:text="#{logup.city}">city</label>
                            <select class="form-control" id="inputCity" name="city">
                                <option th:each="city: ${cities}"
                                        th:text="${city.name}"
                                        th:value="${city.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="prevCRUDProfileCity"
                                type="button" th:text="#{action.prev}">prev</button>
                        <button class="btn btn-secondary" id="submitCRUDProfileCity"
                                type="button" th:text="#{action.next}">next</button>
                    </div>
                </div>
            </div>

            <div class="modal-dialog" id="CRUDProfileStudy" style="display: none;">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="modal-title h4" th:text="#{logup.title}">title</div>
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="progress mb-3">
                            <div class="progress-bar w-48" role="progressbar"
                                 aria-valuenow="48" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputStudy" th:text="#{logup.studies}">studies</label>
                            <textarea class="form-control" id="inputStudy"
                                      name="education" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="prevCRUDProfileStudy"
                                type="button" th:text="#{action.prev}">prev</button>
                        <button class="btn btn-secondary" id="submitCRUDProfileStudy"
                                type="button" th:text="#{action.next}">next</button>
                    </div>

                </div>
            </div>

            <div class="modal-dialog" id="CRUDProfileSkill" style="display: none;">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="modal-title h4" th:text="#{logup.title}">title</div>
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="progress mb-3">
                            <div class="progress-bar w-64" role="progressbar"
                                 aria-valuenow="64" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-0" for="inputSkill" th:text="#{logup.skills}">skills</label>
                            <textarea class="form-control" id="inputSkill"
                                      name="skills" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="prevCRUDProfileSkill"
                                type="button" th:text="#{action.prev}">prev</button>
                        <button class="btn btn-secondary" id="submitCRUDProfileSkill"
                                type="button" th:text="#{action.next}">next</button>
                    </div>

                </div>
            </div>

            <div class="modal-dialog" id="CRUDProfileLastModal" style="display: none;">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="modal-title h4" th:text="#{logup.title}">title</div>
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="progress mb-3">
                            <div class="progress-bar w-80" role="progressbar"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="col-form-label col-sm-2 pt-0">Disponibilidad</div>
                        <div class="form-group mb-3">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="hidden"
                                           name="fullTime" value="false"/>
                                    <input class="form-check-input" type="checkbox"
                                           name="fullTime"value="true"/>
                                    Tiempo Completo
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="hidden"
                                           name="partTime"value="false"/>
                                    <input class="form-check-input" type="checkbox"
                                           name="partTime"value="true"/>
                                    Medio Tiempo
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="hidden"
                                           name="homeWork" value="false">
                                    <input class="form-check-input" type="checkbox"
                                           name="homeWork" value="true">
                                    Teletrabajo
                                </label>
                            </div>
                        </div>

                        <input class="form-check-input" type="hidden" name="applyForJob" value="false">

<!--                         <div class="mb-4"> -->
<!--                             <div class="form-check"> -->
<!--                                 <label class="form-check-label"> -->
<!--                                     <input class="form-check-input" type="hidden" -->
<!--                                            name="applyForJob" value="false"> -->
<!--                                     <input class="form-check-input" type="checkbox" -->
<!--                                            name="applyForJob" value="true"> -->
<!--                                     Habilitar Perfil Laboral -->
<!--                                 </label> -->
<!--                             </div> -->
<!--                         </div> -->

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="prevCRUDProfileLastModal"
                                type="button" th:text="#{action.prev}">prev</button>
                        <button class="btn btn-primary" id="submitCRUDProfileLastModal"
                                type=submit th:text="#{logup.endAction}">save</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</html>
