<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="modal" class="modal fade" tabindex="-1" id="ModalCRUDProfile">

        <script th:inline="javascript">
            /*<![CDATA[*/

            document.texts = {
                notEmpty:              /*[[#{logup.notEmpty}]]*/ '«notEmpty»',
                usernameAlreadyExists: /*[[#{logup.usernameAlreadyExists}]]*/ '«usernameAlreadyExists»',
                emailAlreadyExists:    /*[[#{logup.emailAlreadyExists}]]*/ '«emailAlreadyExists»',
                passwordsNotEqual:     /*[[#{logup.passwordsNotEqual}]]*/ '«passwordsNotEqual»',
            };

            /*]]>*/
        </script>

        <form action="/api/user/edit" method="POST" id="CRUDProfileSubmit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title h4 mb-2" th:text="#{logup.title}">title</div>
                        <button class="close mt-n2b" type="button" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="progress mt-n4b mb-4" id="CRUDProfileProgressbarContainer">
                            <div class="progress-bar w-1" role="progressbar" id="CRUDProfileProgressbar"
                                 aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>

                        <!-- START BODIES -->

                        <div id="CRUDProfileUserBody" class="d-block">
                            <div class="form-group mb-3">
                                <label class="mb-0" for="inputUserName"
                                       th:text="#{username.text}">username</label>
                                <input class="form-control" id="inputUserName"
                                       name="username" type="text"/>
                                <div class="invalid-feedback" id="invalid-feedback-UserName"></div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="mb-0" for="inputEMail"
                                       th:text="#{email.text}">email</label>
                                <input class="form-control" id="inputEMail"
                                       name="email" type="text"/>
                                <div class="invalid-feedback" id="invalid-feedback-EMail"></div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="mb-0" for="inputPassword"
                                       th:text="#{password.text}">password</label>
                                <input class="form-control" id="inputPassword"
                                       name="password" type="password"/>
                                <div class="invalid-feedback" id="invalid-feedback-password"></div>
                            </div>
                            <div class="form-group">
                                <label class="mb-0" for="inputPassword2"
                                       th:text="#{repeatPassword.text}">repeat password</label>
                                <input class="form-control" id="inputPassword2"
                                       type="password"/>
                                <div class="invalid-feedback" id="invalid-feedback-password2"></div>
                            </div>
                        </div>

                        <div id="CRUDProfilePersonBody" class="d-none">
                            <div class="form-group mb-3">
                                <label class="mb-0" for="inputFirstName"
                                       th:text="#{logup.firstName}">first_name</label>
                                <input class="form-control" id="inputFirstName"
                                       name="firstName" type="text" />
                                <div class="invalid-feedback" th:text="#{logup.notEmpty}">not empty</div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="mb-0" for="inputLastName"
                                       th:text="#{logup.lastName}">last_name</label>
                                <input class="form-control" id="inputLastName"
                                       name="lastName" type="text" />
                                <div class="invalid-feedback" th:text="#{logup.notEmpty}">not empty</div>
                            </div>
                            <div class="form-group">
                                <label class="mb-0" for="inputBirthDate"
                                       th:text="#{logup.birthDate}">birth_date</label>
                                <input class="form-control" id="inputBirthDate"
                                       name="birthDate" type="text" />
                                <div class="invalid-feedback"
                                     th:text="#{logup.wrongFormat}">wrong format</div>
                            </div>
                        </div>

                        <div id="CRUDProfileLocationBody" class="d-none">
                            <div class="form-group mb-3">
                                <label class="mb-0" for="inputCountry"
                                       th:text="#{logup.country}">country</label>
                                <select class="form-control" id="inputCountry" name="country">
                                    <option>ARGENTINA</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label class="mb-0" for="inputState"
                                       th:text="#{logup.state}">state</label>
                                <select class="form-control" id="inputState" name="state">
                                    <option>MISIONES</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="mb-0" for="inputCity"
                                       th:text="#{logup.city}">city</label>
                                <select class="form-control" id="inputCity" name="city">
                                    <option th:each="city: ${cities}"
                                            th:text="${city.name}"
                                            th:value="${city.id}"></option>
                                </select>
                            </div>
                        </div>

                        <div id="CRUDProfileEducationBody" class="d-none">

                            <div class="alert alert-info small text-center" role="alert"
                                 th:text="#{logup.forWorker}"></div>

                            <div class="form-group">
                                <label class="mb-0" for="inputEducation"
                                       th:text="#{logup.education}">education</label>
                                <textarea class="form-control" id="inputEducation"
                                          name="education" rows="4"></textarea>
                            </div>
                        </div>

                        <div id="CRUDProfileSkillsBody" class="d-none">

                            <div class="alert alert-info small text-center" role="alert"
                                 th:text="#{logup.forWorker}"></div>

                            <div class="form-group">
                                <label class="mb-0" for="inputSkills"
                                       th:text="#{logup.skills}">skills</label>
                                <textarea class="form-control" id="inputSkills"
                                          name="skills" rows="4"></textarea>
                            </div>
                        </div>

                        <div id="CRUDProfileAvailabilityBody" class="d-none">

                            <div class="alert alert-info small text-center" role="alert"
                                 th:text="#{logup.forWorker}"></div>

                            <div class="col-form-label col-sm-2 pt-0"
                                 th:text="#{logup.availability}">availability</div>

                            <div class="form-group my-2">
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           name="fullTime" id="inputFullTime" value="true"/>
                                    <label class="form-check-label" for="inputFullTime"
                                    th:text="#{logup.fullTime}">fullTime</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           name="partTime" id="inputPartTime" value="true"/>
                                    <label class="form-check-label" for="inputPartTime"
                                    th:text="#{logup.partTime}">partTime</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           name="homeWork" id="inputHomeWork" value="true">
                                    <label class="form-check-label" for="inputHomeWork"
                                    th:text="#{logup.homeWork}">homeWork</label>
                                </div>
                            </div>
                            <input type="hidden" name="applyForJob" value="false" id="inputApplyForJob">
                        </div>

                        <!-- END BODIES -->

                    </div>
                    <div class="modal-footer">

                        <!-- START FOOTERS -->

                        <div id="CRUDProfileUserFooter" class="d-block">
                            <button class="btn btn-secondary" id="nextCRUDProfileUser"
                                    type="button" th:text="#{action.next}">next</button>
                        </div>

                        <div id="CRUDProfilePersonFooter" class="d-none">
                            <button class="btn btn-secondary" id="prevCRUDProfilePerson"
                                    type="button" th:text="#{action.prev}">prev</button>
                            <button class="btn btn-secondary" id="nextCRUDProfilePerson"
                                    type="button" th:text="#{action.next}">next</button>
                        </div>

                        <div id="CRUDProfileLocationFooter" class="d-none">
                            <button class="btn btn-secondary" id="prevCRUDProfileLocation"
                                    type="button" th:text="#{action.prev}">prev</button>
                            <button class="btn btn-secondary" id="nextCRUDProfileLocation"
                                    type="button" th:text="#{action.next}">next</button>
                        </div>

                        <div id="CRUDProfileEducationFooter" class="d-none">
                            <button class="btn btn-secondary" id="prevCRUDProfileEducation"
                                    type="button" th:text="#{action.prev}">prev</button>
                            <button class="btn btn-secondary" id="nextCRUDProfileEducation"
                                    type="button" th:text="#{action.next}">next</button>
                        </div>

                        <div id="CRUDProfileSkillsFooter" class="d-none">
                            <button class="btn btn-secondary" id="prevCRUDProfileSkills"
                                    type="button" th:text="#{action.prev}">prev</button>
                            <button class="btn btn-secondary" id="nextCRUDProfileSkills"
                                    type="button" th:text="#{action.next}">next</button>
                        </div>

                        <div id="CRUDProfileAvailabilityFooter" class="d-none">
                            <button class="btn btn-secondary" id="prevCRUDProfileAvailability"
                                    type="button" th:text="#{action.prev}">prev</button>
                            <button class="btn btn-primary" id="nextCRUDProfileAvailability"
                                    type=button th:text="#{logup.endAction}">save</button>
                        </div>

                        <!-- end FOOTERS -->

                    </div>
                </div>
            </div>
        </form>
    </div>

</html>
