<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<br th:replace="/fragments/head :: head"/>
<body>
<br th:replace="/fragments/header :: header"/>

    <div class="container py-special" id="mainVerticalAdjFooter">

        <section class="row m-5">

            <div class="col">

                <div th:if="${param.error}" th:text="#{login.error}">
                    -
                </div>
                <div th:if="${param.logout}" th:text="#{login.logout}">
                    -
                </div>

                <form th:action="@{/login}" method="post">
                    <div><label> Usuario: <input type="text" name="username"/></label></div>
                    <div><label> Contraseña: <input type="password" name="password"/></label></div>
                    <div><input type="submit" th:value="#{login.login}"/></div>
                </form>
            </div>
        </section>

    </div>

<br th:replace="/fragments/footer :: footer"/>
<br th:replace="/fragments/javascript :: javascript"/>
</body>
</html>
