<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<br th:replace="/fragments/head :: head"/>
<body>
<br th:replace="/fragments/header :: header(null)"/>

    <div class="container-fluid py-special" id="mainVerticalAdjFooter">

        <div class="h2" th:inline="text">
            ¿Cerrar sesión [[${#httpServletRequest.remoteUser}]]?
        </div>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Salir"/>
        </form>

    </div>

<br th:replace="/fragments/footer :: footer"/>
<br th:replace="/fragments/javascript :: javascript"/>
</body>
</html>
