<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<br th:replace="fragments/head :: head"/>
<body>
<br th:replace="fragments/header :: header(null)"/>

    <div class="container-fluid py-special" id="mainVerticalAdjFooter">
        <div class="row">
            <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto mt-3 mb-4">
                <div th:inline="text">¿Cerrar sesión [[${#httpServletRequest.remoteUser}]]?</div>
                <form th:action="@{/logout}" method="POST">
                    <input type="submit" value="#{login.logout}"/>
                </form>
            </div>
        </div>
    </div>

<br th:replace="fragments/footer :: footer"/>
<br th:replace="fragments/javascript :: javascript"/>
</body>
</html>
