<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<br th:replace="fragments/head :: head"/>
<body>
<br th:replace="fragments/bag_applicants_header :: header"/>

<div class="container-fluid py-special" id="mainVerticalAdjFooter">


    <div class="container mt-4 ">

        <div class="row" >


            <div class="col-4 col-sm-4 col-md-2 col_a " align="center" >
                <div class="container m-1 panel_news">
                    <p class=" h6">NOVEDADES</p>
                    <table>
                        <tr>
                            <td><p class="news_content">NOVEDAD</p></td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="col-8 col-sm-8 col-md-7  col_b" >
                <div class="col">
                    <ul class="nav nav-pills nav-stacked anyClass">
                        <table>



                            <tr>
                                <td>
                                    <div class="container mt-2 panel_applicant">
                                        <p class="applicant_title">USERNAME</p>
                                        <table>
                                            <tr>
                                                <td>
                                                    <p >

                                                    <p class="applicant_title">SKILLS</p>

                                                    <p class="applicant_text">Lorem ipsum dolor sit amet consectetur adipiscing elit, ullamcorper curae est nibh montes. Convallis erat montes pharetra turpis non suscipit sagittis pellentesque, integer feugiat magna eu mollis cras placerat porttitor, risus nam quam sociosqu lectus massa cum. Primis cras orci in luctus ultricies porttitor malesuada, cubilia donec sollicitudin sagittis viverra mattis penatibus, vitae placerat conubia himenaeos egestas netus.
                                                    </p>
                                                    <p class="applicant_title">STUDIES</p>

                                                    <p class="applicant_text">Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                                    </p>

                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="tlb_applicant_data" >
                                                        <tr >
                                                            <td ><p class="applicant_data_text">Medio tiempo/Tiempo completo/etc.</p></td>
                                                            <td>

                                                            </td>
                                                            <td rowspan="3" align="right">
                                                                <!--<button class="btn btn-secondary">CONTACTAR</button>-->
                                                                <a href="/contactar">
                                                                    <i class="bi bi-telephone-plus" data-toggle="tooltip" data-original-title="Contactar"></i>
                                                                </A>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><p class="applicant_data_text">Activo hace #####.</p></td>
                                                            <td>
                                                                <a href="/meinteresaestepostulante">
                                                                    <i class="bi bi-hand-thumbs-up" data-toggle="tooltip" data-original-title="Me interesa"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr >
                                                            <td><p class="applicant_data_text">Ha recibido contactos de ## empleadores.  -  Se postuló a ## empleos.</p></td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                        </table>
                                    </div>
                                </td>
                            </tr>




                        </table>
                    </ul>
                </div>
            </div>


            <div class="col-0 col-sm col-md-3  col_c" >
                <table>
                    <tr>
                        <td>
                            <form class="row">
                                <table>
                                    <tr style="vertical-align: middle;">
                                        <td>
                                            <input type="text" class="form-control" id="txtSearch">
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr aria-colspan="2">
                                        <td>

                                            <input type="checkbox" id="chkMyCity"  onclick="">
                                            <label class="ml-2" >Mi ciudad</label>

                                        </td>
                                    </tr>
                                    <tr aria-colspan="2">
                                        <td>
                                            <input type="checkbox"  id="chkFullTime">
                                            <label class="ml-2">Full Time</label>
                                        </td>
                                    </tr>
                                    <tr aria-colspan="2">
                                        <td>
                                            <input type="checkbox"  id="chkPartTime">
                                            <label class="ml-2" >Medio Tiempo</label>
                                        </td>
                                    </tr>
                                    <tr aria-colspan="2">
                                        <td>
                                            <input type="checkbox" id="chkHomeWorking">
                                            <label class="ml-2" >Desde casa</label>
                                        </td>
                                    </tr>
                                </table>




                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="container mt-2  panel_contact">
                                <p class="h6">MIS CONTACTOS</p>
                                <table>
                                    <tr>
                                        <td><p class="contact_content">CONTACTO</p></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>




</div>

<br th:replace="fragments/footer :: footer"/>
<br th:replace="fragments/javascript :: javascript"/>
</body>
</html>
