<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<br th:replace="fragments/head :: head"/>
<body>
<br th:replace="fragments/bag_offers_header :: header"/>

<div class="container-fluid py-special" id="mainVerticalAdjFooter">


            <div class="container mt-4 ">

                <div class="row" >


                    <div class="col-4 col-sm-4 col-md-2 col_a " >
                        <button type="button" class="btn btn-primary mt-2" th:text="#{bag_offer.addOfferButton}">add</button>
                        <div class="container panel_news mt-2">
                            <p class="h6">NOVEDADES</p>
                            <table>
                                <tr>
                                    <td><p class="news_content" th:text="#{bag_offer.newsTitle}">news</p></td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="col-8 col-sm-8 col-md-7  col_b" >
                        <div class="col">
                            <ul class="nav nav-pills nav-stacked ">
                                <table class="table table-borderless align-middle" style="width: 100%;">


                                    <tr th:id="'job_row_' +  ${job.id}" th:each="job: ${jobs}">
                                        <td colspan="3">
                                            <div class="container mt-2 panel_offers">



                                                <p class="h6"  th:text="${job.title} ?: #{bag_offer.noTitle}">JOB TITLE</p>
                                                <table  style=" width: 100%;">
                                                    <tr>
                                                        <td>
                                                            <p class="offers_text" th:text="${job.description}  ?: #{bag_offer.noDescription}">JOB DESCRIPTION</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table class="table align-middle" style="width: 100%;" >
                                                                <tr >
                                                                    <td colspan="4" >
                                                                        <span class="offers_data_text" th:text="${job.fullTime} ? #{bag_offer.fullTime} : ''" >txt</span>
                                                                        <span class="offers_data_text" th:text="${job.partTime} ? #{bag_offer.partTime} : ''" >txt</span>
                                                                        <span class="offers_data_text" th:text="${job.homeWork} ? #{bag_offer.remote} : ''" >txt</span>
                                                                        <span class="offers_data_text" th:text="${job.independent} ? #{bag_offer.independent} : ''" >txt</span>
                                                                        <span class="offers_data_text" th:text="${job.dependent} ? #{bag_offer.dependent} : ''" >txt</span>
                                                                    </td>
                                                                </tr>
                                                                <tr >
                                                                    <td class="table align-left">
                                                                   <!--
                                                                        <p class="offers_data_text" th:text="#{bag_offer.valid} + ' ' + ${#temporals.day(job.expiration)} + '/' + ${#temporals.month(job.expiration)} + '/' + ${#temporals.year(job.expiration)}" >txt</p>
                                                                    -->
                                                                        <p class="offers_data_text" th:text="#{bag_offer.valid} + ' ' + ${job.expiration}" >txt</p>
                                                                    </td>
                                                                    <td class="table align-right">
                                                                          <!--  <input class="buttonInterest" type="button" value="createDeleteInterest" th:id="'interest_' + ${job.id} + '_' + + ${user.id}"/>-->

                                                                        <i th:id="'interest_' + ${job.id} + '_' +  ${user.id}"
                                                                           th:class="${user.containsInterestingJob(job)} ? 'bi bi-hand-thumbs-up-fill' : 'bi bi-hand-thumbs-up'"
                                                                           data-toggle="tooltip"
                                                                           th:data-original-title="#{bag_offer.interested}"
                                                                           onclick="createDeleteInterest(this)"
                                                                           data-toggle1="bagofferinteres"></i>

                                                                    </td>
                                                                    <td class="table align-right">
                                                                        <a href="">
                                                                            <i class="bi bi-telephone-plus ml-2" data-toggle="tooltip" th:data-original-title="#{bag_offer.apply}"></i>
                                                                        </a>
                                                                    </td>
                                                                    <td class="table align-right">
                                                                        <a th:if="${user.existCreatedJob({job.id})}" href="">
                                                                            <i class="bi bi-trash ml-2" data-toggle="tooltip" th:data-original-title="#{bag_offer.deleteOffer}"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="4">
                                                                        <span class="offers_data_text" th:text="${job.getInterestedUsersCount() > 0}  ? (
                                                                                    ${job.getInterestedUsersCount()} + ' ' +
                                                                                    (${job.getInterestedUsersCount() > 1} ? #{bag_offer.interestPlural} : #{bag_offer.interestSingle})
                                                                        )">interested people</span>
                                                                        <span class="offers_data_text ml-4" th:text="${job.getApplyUsersCount() > 0}  ? (
                                                                                    ${job.getApplyUsersCount()} + ' ' +
                                                                                    (${job.getApplyUsersCount() > 1} ? #{bag_offer.applyPlural} : #{bag_offer.applySingle})
                                                                        )">nominees</span>
                                                                    </td>
                                                                </tr>









                                                            </table>
                                                        </td>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr  >
                                        <td >
                                            <a th:if="${currentPage > 0}" th:href="'/bagoffers?page=' + ${currentPage - 1} + '&size=' + ${pageSize}">
                                                <button type="button" class="btn btn-primary mt-2" th:text="#{bag_offer.buttonPrevious}">previous</button>
                                            </a>

                                        </td>
                                        <td class="justify-content-center" >
                                            <span align="align-center" th:text="#{bag_offer.pagerText} + ' ' + ${currentPage + 1} + ' ' + #{bag_offer.pagerConnector} + ' ' + ${pageTotal}"></span>
                                        </td>
                                        <td  >
                                            <a th:if="${currentPage < pageTotal -1}" th:href="'/bagoffers?page=' + ${currentPage + 1} + '&size=' + ${pageSize}">
                                                <button type="button" class="btn btn-primary mt-2" th:text="#{bag_offer.buttonNext}">next</button>
                                            </a>

                                        </td>
                                    </tr>



                                </table>
                            </ul>
                        </div>
                    </div>


                    <div class="col-0 col-sm col-md-3 col-c" >

                        <form class="row">
                            <table>
                                <tr style="vertical-align: middle;">
                                    <td>
                                        <input type="text" class="form-control" id="txtSearch">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr aria-colspan="2">
                                    <td>

                                        <input type="checkbox" id="chkMyCity"  onclick="">
                                        <label class="ml-2" th:text="#{bag_offer.mycity}">My city</label>

                                    </td>
                                </tr>
                                <tr aria-colspan="2">
                                    <td>
                                        <input type="checkbox"  id="chkFullTime">
                                        <label class="ml-2" th:text="#{bag_offer.fullTime}">Full Time</label>
                                    </td>
                                </tr>
                                <tr aria-colspan="2">
                                    <td>
                                        <input type="checkbox"  id="chkPartTime">
                                        <label class="ml-2"  th:text="#{bag_offer.partTime}" >Part time</label>
                                    </td>
                                </tr>
                                <tr aria-colspan="2">
                                    <td>
                                        <input type="checkbox" id="chkHomeWorking">
                                        <label class="ml-2"  th:text="#{bag_offer.remote}">home working</label>
                                    </td>
                                </tr>
                                <tr aria-colspan="2">
                                    <td>
                                        <input type="checkbox" id="chkSoloMisOfertas">
                                        <label class="ml-2" th:text="#{bag_offer.onlymyoffers}">Only my offers</label>
                                    </td>
                                </tr>
                            </table>

                        </form>


                        <div class="container mt-2 panel_contact">
                            <p class="h6" th:text="#{bag_offer.myInterests}">My interests</p>
                            <table  style="width: 100%;">
                                <tr  th:id="'interest_row_' +  ${interest.id} + '_'+ ${user.id}"
                                     th:each="interest: ${user.interestingJobs}">
                                    <td style="width: auto;" class="align-middle">
                                        <p class="contact_content align-middle" th:text="${interest.title} ?: #{bag_offer.noTitle}">JOB TITLE</p>
                                    </td>
                                    <td style="width: 40px;" class="align-middle">

                                        <i  th:id="'btn_show_job_' + ${interest.id} + '_'+ ${user.id}"
                                                class="bi bi-eye"
                                                data-toggle="tooltip"
                                                th:data-original-title="#{bag_offer.viewOffer}"
                                                onclick="showModalJob(this)">

                                        </i>


                                    </td>
                                    <td style="width: 40px;" class="align-middle">
                                        <a class="align-middle" href=""><i class="bi bi-trash" data-toggle="tooltip" th:data-original-title="#{bag_offer.deleteOffer}"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>



                        <div class="modal" id="modalJob">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <div id="modalJobTitle" class="modal-title h4">JOB TITLE</div>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <div class="modal-body">

                                            <table class="table table-borderless align-middle" style=" width: 100%;">
                                                <tr>
                                                    <td>
                                                        <div class="offers_text" id="modalJobDescription" >JOB DESCRIPTION</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                         <div id="modalJobFullTime" class="offers_data_text" text="FULL TIME" >txt</div>
                                                         <div id="modalJobPartTime" class="offers_data_text" text="PART TIME" >txt</div>
                                                         <div id="modalJobRemote" class="offers_data_text" text="REMOTE" >txt</div>
                                                         <div id="modalJobIndependent" class="offers_data_text" text="FREE LANCE" >txt</div>
                                                         <div id="modalJobDependent" class="offers_data_text" text="DEPENDENT" >txt</div>
                                                         <div id="modalExpirationDate" class="offers_data_text" text="expiration date" >txt</div>
                                                    </td>
                                            </table>



                                    </div>

                                    <div class="modal-footer">
                                        <div class="d-flex flex-row justify-content-start">
                                            <div class="p-2">
                                                <span id="modalInterested" class="offers_data_text " text="Interested people">interested people</span>
                                            </div>
                                            <div class="p-2">
                                                <span id="modalNominees" class="offers_data_text ml-4" text="nominees">nominees</span>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>

                                </div>
                            </div>
                        </div>




                </div>
            </div>




</div>

<br th:replace="fragments/footer :: footer"/>
<br th:replace="fragments/javascript :: javascript"/>

</body>
</html>
