<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<br th:replace="fragments/head :: head"/>
<body>
<br th:replace="fragments/bag_offers_header :: header"/>

<div class="container-fluid py-special" id="mainVerticalAdjFooter">


            <div class="container mt-4 ">

                <div class="row" >


                    <div class="col-4 col-sm-4 col-md-2 col_a " >
                        <button id="addOffersButton" type="button" class="btn btn-primary mt-2" onclick="showModalCreateJob()" th:text="#{bag_offer.addOfferButton}">add</button>
                        <div class="container panel_news mt-2">
                            <p class="h6" th:text="#{bag_applicants.newsTitle}">NOVEDADES</p>
                            <table>
                                <tr>
                                    <td><p class="news_content" >news</p></td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="col-8 col-sm-8 col-md-7  col_b" >
                        <div class="col">
                            <ul class="nav nav-pills nav-stacked ">


                                <div id="panelFilter" class="modal-header w-100 " th:style="${filterType} == '' ? 'display: none;' : ''">
                                    <table  class="table table-borderless panel_filter" style="width: 100%;">
                                        <tr >
                                            <td >
                                                <span class="h6">Filtro:</span>
                                                <span class="h5 ml-2" th:text="${filterContent}">FILTER CONTENT</span>
                                            </td>
                                            <td style=" text-align: right;">
                                                <i id="buttonPanelFilterClose" class="bi bi-x " onclick="closePanelFilter()"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </div>


                                <table class="table table-borderless align-middle" style="width: 100%;">

                                    <tr th:id="'job_row_' +  ${job.id}" th:each="job: ${jobs}">
                                        <td colspan="3">
                                            <div class="container mt-2 panel_offers">



                                                <p class="h6"  th:text="${job.title} ?: #{bag_offer.noTitle}">JOB TITLE</p>
                                                <table  style=" width: 100%;">
                                                    <tr>
                                                        <td>
                                                            <p class="offers_text" th:text="${job.description}  ?: #{bag_offer.noDescription}">JOB DESCRIPTION</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table class="table align-middle" style="width: 100%;" >
                                                                <tr >
                                                                    <td colspan="4" >
                                                                        <span class="offers_data_text" th:text="${job.fullTime} ? #{bag_offer.fullTime} : ''" >txt</span>
                                                                        <span class="offers_data_text" th:text="${job.partTime} ? #{bag_offer.partTime} : ''" >txt</span>
                                                                        <span class="offers_data_text" th:text="${job.homeWork} ? #{bag_offer.remote} : ''" >txt</span>
                                                                        <span class="offers_data_text" th:text="${job.independent} ? #{bag_offer.independent} : ''" >txt</span>
                                                                        <span class="offers_data_text" th:text="${job.dependent} ? #{bag_offer.dependent} : ''" >txt</span>
                                                                    </td>
                                                                </tr>
                                                                <tr >
                                                                    <td colspan="4" >
                                                                        <span class="offers_data_text" th:text="'Ciudad: ' + ${job.getCityName()}" >txt</span>
                                                                    </td>
                                                                </tr>
                                                                <tr >
                                                                    <td class="table align-left">
                                                                        <p class="offers_data_text" th:text="#{bag_offer.valid} + ' ' + ${job.expiration}" >txt</p>
                                                                    </td>
                                                                    <td class="table align-right">
                                                                         <i th:if="${!user.existCreatedJob({job.id})}" th:id="'interest_' + ${job.id} + '_' +  ${user.id}"
                                                                           th:class="${user.containsInterestingJob(job)} ? 'bi bi-hand-thumbs-up-fill ' : 'bi bi-hand-thumbs-up '"
                                                                           data-toggle="tooltip"
                                                                           th:data-original-title="#{bag_offer.interested}"
                                                                           onclick="createDeleteInterest(this)"
                                                                           data-toggle1="bagofferinteres"></i>

                                                                    </td>
                                                                    <td class="table align-right">

                                                                            <i th:if="${!user.existCreatedJob({job.id})}" th:id="'apply_' + ${job.id} + '_' +  ${user.id}"
                                                                               th:class="${user.containsApplyJob(job)} ? 'bi bi-telephone-plus-fill ml-2 ' : 'bi bi-telephone-plus '"
                                                                               data-toggle="tooltip"
                                                                               onclick="createDeleteApply(this)"
                                                                               th:data-original-title="#{bag_offer.apply}"></i>

                                                                    </td>
                                                                    <td class="table align-right">
                                                                            <i th:if="${user.existCreatedJob({job.id})}" class="bi bi-pencil ml-2"
                                                                            	data-toggle="tooltip" th:data-original-title="#{bag_offer.editOffer}"
                                                                            	th:id="'edit_job_' + ${job.id} + '_' +  ${user.id}"
                                                                            	onclick="showModalEditJob(this)"></i>
                                                                    </td>
                                                                    <td class="table align-right">
                                                                            <i th:if="${user.existCreatedJob({job.id})}" class="bi bi-trash ml-2"
                                                                            data-toggle="tooltip" th:data-original-title="#{bag_offer.deleteOffer}"
                                                                            th:id="'delete_job_' + ${job.id} + '_' +  ${user.id}"
                                                                            onclick="deleteJob(this)"></i>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="4">
                                                                        <span class="offers_data_text" th:text="${job.getInterestedUsersCount() > 0}  ? (
                                                                                    ${job.getInterestedUsersCount()} + ' ' +
                                                                                    (${job.getInterestedUsersCount() > 1} ? #{bag_offer.interestPlural} : #{bag_offer.interestSingle})
                                                                        )">interested people</span>
                                                                        <span class="offers_data_text ml-4" th:text="${job.getApplyUsersCount() > 0}  ? (
                                                                                    ${job.getApplyUsersCount()} + ' ' +
                                                                                    (${job.getApplyUsersCount() > 1} ? #{bag_offer.applyPlural} : #{bag_offer.applySingle})
                                                                        )">nominees</span>
                                                                    </td>
                                                                </tr>









                                                            </table>
                                                        </td>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr  >
                                        <td >
                                            <a th:if="${currentPage > 0}" th:href="'/bagoffers?page=' + ${currentPage - 1} + '&size=' + ${pageSize}">
                                                <button type="button" class="btn btn-primary mt-2" th:text="#{bag_offer.buttonPrevious}">previous</button>
                                            </a>

                                        </td>
                                        <td class="justify-content-center" >
                                            <span th:if="${pageTotal > 1}" align="align-center" th:text="#{bag_offer.pagerText} + ' ' + ${currentPage + 1} + ' ' + #{bag_offer.pagerConnector} + ' ' + ${pageTotal}"></span>
                                        </td>
                                        <td  >
                                            <a th:if="${currentPage < pageTotal -1}" th:href="'/bagoffers?page=' + ${currentPage + 1} + '&size=' + ${pageSize}">
                                                <button type="button" class="btn btn-primary mt-2" th:text="#{bag_offer.buttonNext}">next</button>
                                            </a>

                                        </td>
                                    </tr>



                                </table>
                            </ul>
                        </div>
                    </div>


                    <div class="col-0 col-sm col-md-3 col-c" >

                        <!-- <form class="row" >         is-checking -->
                            <table class="table table ">
                                <tr style="vertical-align: middle; width: 100%">
                                    <td colspan="4">
                                        <input id="txtSearch" type="text" class="form-control" >
                                    </td>
                                    <td colspan="1">
                                        <i id="btnSearch"
                                                class="bi bi-search ml-2" data-toggle="tooltip"
                                           th:data-original-title="#{bag_offer.btnSearch}"
                                        onclick="bagFilterText()"></i>

                                    </td>
                                </tr>
                                <tr >
                                    <td>

                                        <svg id="btnOnlyMyCity"
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" fill="black"
                                             class="bi bi-map" viewBox="0 0 16 16"
                                             data-toggle="tooltip"
                                             th:data-original-title="#{bag_offer.mycity}"
                                            onclick="bagFilterCity(this)">
                                            <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98l4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                                        </svg>


                                    <td>

                                    <td>
                                        <svg id="btnFullTime"
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" fill="black"
                                             class="bi bi-clock-fill" viewBox="0 0 16 16"
                                             data-toggle="tooltip"
                                             th:data-original-title="#{bag_offer.fullTime}"
                                        onclick="bagFilterFullTime(this)">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                        </svg>

                                    </td>

                                    <td>
                                        <svg id="btnPartTime"
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" fill="black"
                                             class="bi bi-clock-history" viewBox="0 0 16 16"
                                             data-toggle="tooltip"
                                             th:data-original-title="#{bag_offer.partTime}"
                                        onclick="bagFilterPartTime(this)">
                                            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                                        </svg>


                                    </td>

                                    <td>
                                        <svg id="btnHomeWorking"
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="16" height="16" fill="black"
                                             class="bi bi-laptop" viewBox="0 0 16 16"
                                             data-toggle="tooltip"
                                             th:data-original-title="#{bag_offer.remote}"
                                        onclick="bagFilterRemote(this)">
                                            <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
                                        </svg>

                                    </td>

                                    <td>
                                        <svg id="btnOnlyMyOffers"
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16" height="16" fill="black"
                                                class="bi bi-megaphone" viewBox="0 0 16 16"
                                             data-toggle="tooltip"
                                             th:data-original-title="#{bag_offer.onlymyoffers}"
                                        onclick="bagFilterMyOffers(this)">
                                            <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975l1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
                                        </svg>


                                    </td>
                                </tr>
                            </table>

                        <!-- </form> -->


                        <div class="container mt-2 panel_contact">
                            <p class="h6" th:text="#{bag_offer.myInterests}">My interests</p>
                            <table id="interestsTable" style="width: 100%;">
                                <tr  th:id="'interest_row_' +  ${interest.id} + '_'+ ${user.id}"
                                     th:each="interest: ${user.interestingJobs}">
                                    <td style="width: auto;" class="align-middle">
                                        <p class="contact_content align-middle" th:text="${interest.title} ?: #{bag_offer.noTitle}">JOB TITLE</p>
                                    </td>
                                    <td style="width: 40px;" class="align-middle">

                                        <i  th:id="'btn_show_job_' + ${interest.id} + '_'+ ${user.id}"
                                                class="bi bi-eye"
                                                data-toggle="tooltip"
                                                th:data-original-title="#{bag_offer.viewOffer}"
                                                onclick="showModalJob(this)">

                                        </i>

                                    </td>
                                    <td style="width: 40px;" class="align-middle">

                                            <i th:id="'btn_delete_interest_' + ${interest.id} + '_'+ ${user.id}"
                                               class="bi bi-trash" data-toggle="tooltip"
                                               onclick="deleteInterest(this)"
                                               th:data-original-title="#{bag_offer.deleteOffer}"></i>

                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="container mt-2 panel_contact">
                            <p class="h6" th:text="#{bag_offer.myAplies}">My Applies</p>
                            <table id="applyTable" style="width: 100%;">
                                <tr  th:id="'apply_row_' +  ${apply.id} + '_'+ ${user.id}"
                                     th:each="apply: ${user.applyJobs}">
                                    <td style="width: auto;" class="align-middle">
                                        <p class="contact_content align-middle" th:text="${apply.title} ?: #{bag_offer.noTitle}">APPLY TITLE</p>
                                    </td>
                                    <td style="width: 40px;" class="align-middle">

                                        <i  th:id="'btn_show_apply_' + ${apply.id} + '_'+ ${user.id}"
                                            class="bi bi-eye"
                                            data-toggle="tooltip"
                                            th:data-original-title="#{bag_offer.viewOffer}"
                                            onclick="showModalApply(this)">
                                        </i>

                                    </td>
                                    <td style="width: 40px;" class="align-middle">

                                        <i th:id="'btn_delete_apply_' + ${apply.id} + '_'+ ${user.id}"
                                           class="bi bi-trash" data-toggle="tooltip"
                                           onclick="deleteApply(this)"
                                           th:data-original-title="#{bag_offer.deleteOffer}"></i>

                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>



                        <div class="modal" id="modalJob">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <table  class="table table-borderless" style="width: 100%;">
                                            <tr>
                                                <td>
                                                    <div class="h6">Te interesa:</div>
                                                </td>
                                                <td>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div id="modalJobTitle" class="modal-title h3">JOB TITLE</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="modal-body">

                                            <table class="table table-borderless align-middle" style=" width: 100%;">
                                                <tr>
                                                    <td>
                                                        <div class="offers_text" id="modalJobDescription" >JOB DESCRIPTION</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                         <div id="modalJobFullTime" class="offers_data_text" text="FULL TIME" >txt</div>
                                                         <div id="modalJobPartTime" class="offers_data_text" text="PART TIME" >txt</div>
                                                         <div id="modalJobRemote" class="offers_data_text" text="REMOTE" >txt</div>
                                                         <div id="modalJobIndependent" class="offers_data_text" text="FREE LANCE" >txt</div>
                                                         <div id="modalJobDependent" class="offers_data_text" text="DEPENDENT" >txt</div>
                                                         <div id="modalExpirationDate" class="offers_data_text" text="expiration date" >txt</div>
                                                    </td>
                                            </table>



                                    </div>

                                    <div class="modal-footer">
                                        <div class="d-flex flex-row justify-content-start">
                                            <div class="p-2">
                                                <span id="modalInterested" class="offers_data_text " text="Interested people">interested people</span>
                                            </div>
                                            <div class="p-2">
                                                <span id="modalNominees" class="offers_data_text ml-4" text="nominees">nominees</span>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
						
						


                    <div class="modal" id="modalApply">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <table  class="table table-borderless" style="width: 100%;">
                                        <tr>
                                            <td>
                                                <div class="h6">Te postulaste a:</div>
                                            </td>
                                            <td>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div id="modalApplyTitle" class="modal-title h3">Apply TITLE</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="modal-body">

                                    <table class="table table-borderless align-middle" style=" width: 100%;">
                                        <tr>
                                            <td>
                                                <div class="offers_text" id="modalApplyDescription" >Apply DESCRIPTION</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="modalApplyFullTime" class="offers_data_text" text="FULL TIME" >txt</div>
                                                <div id="modalApplyPartTime" class="offers_data_text" text="PART TIME" >txt</div>
                                                <div id="modalApplyRemote" class="offers_data_text" text="REMOTE" >txt</div>
                                                <div id="modalApplyIndependent" class="offers_data_text" text="FREE LANCE" >txt</div>
                                                <div id="modalApplyDependent" class="offers_data_text" text="DEPENDENT" >txt</div>
                                                <div id="modalApplyExpirationDate" class="offers_data_text" text="expiration date" >txt</div>
                                            </td>
                                    </table>



                                </div>

                                <div class="modal-footer">
                                    <div class="d-flex flex-row justify-content-start">
                                        <div class="p-2">
                                            <span id="modalApplyInterested" class="offers_data_text " text="Interested people">interested people</span>
                                        </div>
                                        <div class="p-2">
                                            <span id="modalApplyNominees" class="offers_data_text ml-4" text="nominees">nominees</span>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>





</div>
<br th:replace="fragments/create_offers :: modal"/>
<br th:replace="fragments/footer :: footer"/>
<br th:replace="fragments/javascript :: javascript"/>

</body>
</html>
