<html>
    <body>
        <h1>Cambiar contraseña</h1>
        <form action="">
            <div>
                <p>Contraseña anterior</p>
                <input type="text" name="pass_ant">
                <p>Contraseña nueva</p>
                <input type="text" name="pass_nueva">
                <p>Repetir contraseña</p>
                <input type="text" name="repetir_nueva">
                <input type="submit" value="CAMBIAR">
            </div>
        </form> 
    </body>
</html>
