<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<br th:replace="fragments/head :: head"/>
<body>
<br th:replace="fragments/header :: header(~{fragments/header_home :: menu})"/>

    <div class="container-fluid" id="mainVerticalAdjFooter">

        <section class="row vh-100 align-items-center text-black" id="home-main">
            <p class="col col-12 col-sm-10 col-md-7 font-weight-bold text-center mx-auto mx-md-5 h1"
               id="introductoryMessage">
                BIT la bolsa de trabajo donde se respetan las diferencias
                personales y la preselección se realiza por habilidades
            </p>
        </section>

        <section class="row py-5 text-center">
            <div class="col-12 font-weight-bold display-4 mb-5"
                 id="about" th:text="#{header.about}">about</div>

            <p class="col col-11 col-sm-8 col-lg-7 mx-auto">Somos un grupo de personas que trabaja activamente
                en la sociedad facilitando el acceso al trabajo e impulsando las transformaciones para
                que éste sea un medio de desarrollo que dignifique la vida de muchas más personas y de
                su entorno. Nos aseguramos de que el encuentro de las personas y organizaciones en
                materia de empleo, formación y capacitación, sea de manera transparente, todo publicado
                de manera anónima por empleados y personas que buscan empleo. Descubre lo que otros están
                buscando en BIT hoy mismo.</p>
        </section>

        <section class="row py-5 home-bg">
            <div class="col col-12 font-weight-bold text-center display-4 mb-5"
                 id="benefits"th:text="#{header.benefits}">benefits</div>

            <div class="col col-12 col-md-8 col-lg-7 mx-auto media mb-4">
                <i class="bi bi-shield-fill-check align-self-center mb-5 mr-3 display-1"></i>
                <div class="media-body">
                    <div class="h5 mt-0 font-weight-bold">Resguardamos tu identidad</div>
                    <p>Cuando te sumes a BIT solo necesitarás unos pocos datos para aparecer
                       entre los postulantes de aquellos trabajos que te interesen, consideramos
                       importante la selección por habilidades</p>
                </div>
            </div>

            <div class="col col-12 col-md-8 col-lg-7 mx-auto media mb-4">
                <div class="media-body">
                    <div class="h5 mt-0 font-weight-bold">La preselección se realiza en base
                         a tus habilidades</div>
                    <p>Es habitual que en los procesos de selección se den preferencia a
                       candidatos con mejor vestimenta o mejores habilidades lingüísticas,
                       en vez de por sus habilidades; esta discriminación también ocurre
                       en el ámbito del género. Por ello en BIT se muestran solamente tus
                       habilidades a tus futuros empleadores.</p>
                </div>
                <i class="bi bi-person-check-fill align-self-center mb-5 ml-3 display-1"></i>
            </div>

            <div class="col col-12 col-md-8 col-lg-7 mx-auto media mb-4">
                <i class="bi bi-people-fill align-self-center mb-5 mr-3 display-1"></i>
                <div class="media-body">
                    <div class="h5 mt-0 font-weight-bold">Lugar de encuentro</div>
                    <p>BIT es un ámbito de encuentro seguro, pensado para que las personas
                       se encuentren con otras personas y empresas, destacando las habilidades
                       por sobre cualquier otro tema.</p>
                </div>
            </div>

            <div class="col col-12 col-md-8 col-lg-7 mx-auto media mb-4">
                <div class="media-body">
                    <div class="h5 mt-0 font-weight-bold">¿Necesitas personas para realizar labores?</div>
                    <p>Únete a BIT y comparte con todos sus integrantes tus propuestas
                       laborales. Encontrarás a la persona ideal para cubrir todas y cada
                       una de tus necesidades, al mismo tiempo puedes buscar trabajos
                       para ti.</p>
                </div>
                <i class="bi bi-megaphone-fill align-self-center mb-5 ml-3 display-1"></i>
            </div>

        </section>

        <section class="row py-5">
            <div class="col col-12 font-weight-bold text-center display-4 mb-5"
                 id="testimonials" th:text="#{header.testimonials}">testimonials</div>
            <div class="col col-11 col-sm-8 col-md-6 mx-auto">
                <div class="carousel slide" id="testimonialsCarousel" data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <blockquote class="blockquote mb-0">
                                <p>Excelente servicio, después de tanto buscar finalmente estoy
                                   trabajando en un lugar serio y con muy buenas perspectivas de
                                   crecimiento. ¡Si estás en la búsqueda, fuerza y adelante!</p>
                                <footer class="blockquote-footer">
                                    <cite title="Lorem ipsum">Augusto R.</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="carousel-item">
                            <blockquote class="blockquote mb-0">
                                <p>Estoy muy agradecida con BIT, gracias a ustedes conseguí un empleo
                                   que me ayuda muchísimo a salir adelante, una propuesta muy interesante
                                   y que se adapta a mis necesidades</p>
                                <footer class="blockquote-footer">
                                    <cite title="Lorem ipsum">Jacqueline G.</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="carousel-item">
                            <blockquote class="blockquote mb-0">
                                <p>Muy agradecido porque es el trabajo que estaba buscando, haciendo lo
                                   que me gusta, muy cerca de casa y con un horario super conveniente.
                                   ¡Muchas gracias!</p>
                                <footer class="blockquote-footer">
                                    <cite title="Lorem ipsum">Javier L.</cite>
                                </footer>
                            </blockquote>
                        </div>

                        <div class="carousel-item">
                            <blockquote class="blockquote mb-0">
                                <p>Estimados, Muchas gracias, estoy muy feliz por mi incorporación.
                                   No tengo más que palabras de agradecimiento para con ustedes.
                                   Saludos cordiales Lina</p>
                                <footer class="blockquote-footer">
                                    <cite title="Lorem ipsum">Lina N.</cite>
                                </footer>
                            </blockquote>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="row py-5 home-bg">
            <div class="col-12 font-weight-bold text-center display-4 my-5">
                <a href="" data-toggle="modal" data-target="#ModalCRUDProfile"
                   id="joinus" th:text="#{callToAction}">call to action</a>
            </div>
        </section>

    </div>

<a href="/presentation" id="home-link-presentation"><i class="bi bi-easel-fill h4"></i></a>

<br th:replace="fragments/logup :: modal"/>
<br th:replace="fragments/footer :: footer"/>
<br th:replace="fragments/javascript :: javascript"/>

<script src="/static/public/js/scripts_logup.js" type="text/javascript" ></script>

</body>
</html>
