<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<br th:replace="fragments/head :: head"/>
<body class="matches_background">
<br th:replace="fragments/matches_header :: header"/>
<div class="container-fluid py-special" id="mainVerticalAdjFooter">
    <div class="container mt-4 ">
        <div class="row" >


            <div class="col-12 col-md-3 mt-4" >
                <div class="alert alert-info shadow-sm d-flex flex-column
                           align-items-center justify-content-center" role="alert">
                    <i class="bi bi-people-fill display-1"></i>
                    <p class="text-center">Cuando te postulas a trabajos
                        y los empleadores eligen tu perfil esa conexión
                        aparece aquí. Puedes enviarles un correo.</p>
                </div>
            </div>


            <div class="col-12 col-md-6 col_b">

                    <ul class="nav nav-pills nav-stacked ">


                        <table class="table table-borderless align-middle" style="width: 100%;">

                            <tr th:id="'user_row_' +  ${usr.id}" th:each="usr: ${users}">
                                <td colspan="3">
                                    <div class="container mt-2 panel_offers">

                                        <p class="h6"  th:text="${usr.username} + ' - ' + ${usr.firstName} + ' ' + ${usr.lastName}">NOMBRE</p>


                                        <table class="table table-borderless" style=" width: 100%;">
                                            <tr >
                                                <td>
                                                    <p th:if="${usr.skills} != ''" class="applicant_title h6" th:text="#{bag_applicants.skillsTitle}">SKILLS</p>
                                                    <p th:if="${usr.skills} != ''" class="applicant_text" th:text="${usr.skills}"></p>
                                                    <p th:if="${usr.education} != ''" class="applicant_title h6" th:text="#{bag_applicants.studiesTitle}">STUDIES</p>
                                                    <p th:if="${usr.education} != ''" class="applicant_text"  th:text="${usr.education}"></p>
                                                    <p  class="applicant_title h6" th:text="'EMPLEO: '+${usr.jobShowInContacts.title}">STUDIES</p>
                                                    <p  class="applicant_text"  th:text="${usr.jobShowInContacts.description}"></p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <table class="table table-borderless align-middle" style="width: 100%;" >
                                                        <tr >
                                                            <td colspan="2" >
                                                                <span class="offers_data_text" th:text="${usr.fullTime} ? #{bag_offer.fullTime} : ''" >txt</span>
                                                                <span class="offers_data_text" th:text="${usr.partTime} ? #{bag_offer.partTime} : ''" >txt</span>
                                                                <span class="offers_data_text" th:text="${usr.homeWork} ? #{bag_offer.remote} : ''" >txt</span>
                                                            </td>
                                                        </tr>
                                                        <tr >
                                                            <td colspan="2" >
                                                                <span class="offers_data_text ml-5" th:text="'E-MAIL: ' + ${usr.email}" >email</span>
                                                            </td>
                                                        </tr>

                                                        <tr >
                                                            <td colspan="2" >
                                                                <span class="offers_data_text" th:text="'Ciudad: ' + ${usr.getCityName()}" >txt</span>
                                                            </td>
                                                            <td style="text-align: right;">

                                                                <a th:href="'mailto:' + ${usr.email}">
                                                                    <i class="bi bi-envelope" data-toggle="tooltip"
                                                                       th:data-original-title="#{matches.mailto}"></i>
                                                                </a>

                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td colspan="2">
                                                                                                                       <span class="offers_data_text" th:text="${usr.getContactsCount() > 0}  ? (
                                                                                                                                   ${usr.getContactsCount()} + ' ' +
                                                                                                                                   (${usr.getContactsCount() > 1} ? #{bag_applicants.contactPlural} : #{bag_applicants.contactSingle})
                                                                                                                       )">contacts</span>

                                                                <span class="offers_data_text ml-4" th:text="${usr.getApplyJobsCount() > 0}  ? (
                                                                                                                                   ${usr.getApplyJobsCount()} + ' ' +
                                                                                                                                   (${usr.getApplyJobsCount() > 1} ? #{bag_applicants.applyPlural} : #{bag_applicants.applySingle})
                                                                                                                       )">nominees</span>

                                                            </td>
                                                        </tr>









                                                    </table>
                                                </td>
                                            </tr>

                                        </table>

                                    </div>
                                </td>
                            </tr>

                            <tr  >
                                <td >
                                    <a th:if="${currentPage > 0}" th:href="'/matches?page=' + ${currentPage - 1} + '&size=' + ${pageSize}">
                                        <button type="button" class="btn btn-primary mt-2" th:text="#{bag_offer.buttonPrevious}">previous</button>
                                    </a>

                                </td>
                                <td class="justify-content-center" >
                                    <span th:if="${pageTotal > 1}"  align="align-center" th:text="#{bag_offer.pagerText} + ' ' + ${currentPage + 1} + ' ' + #{bag_offer.pagerConnector} + ' ' + ${pageTotal}"></span>
                                </td>
                                <td  >
                                    <a th:if="${currentPage < pageTotal -1}" th:href="'/matches?page=' + ${currentPage + 1} + '&size=' + ${pageSize}">
                                        <button type="button" class="btn btn-primary mt-2" th:text="#{bag_offer.buttonNext}">next</button>
                                    </a>

                                </td>
                            </tr>



                        </table>



                    </ul>

            </div>


            <div class="col-12 col-md-3 mb-2" >

                <table class="table table-borderless ">

                    <tr style="vertical-align: middle; width: 100%">

                    </tr>

                </table>

            </div>


        </div>
    </div>
</div>
<br th:replace="fragments/footer :: footer"/>
<br th:replace="fragments/javascript :: javascript"/>
</body>
</html>
