<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <meta name="author" content="BIT"/>
    <title th:text="#{title}">Bolsa Inclusiva de Trabajo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="manifest" href="/static/public/manifest.json" crossorigin="anonymous"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/public/logo/favicon.ico"/>

    <link rel="apple-touch-icon" href="/static/public/logo/apple-touch-icon.png"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>

    <link rel="stylesheet" type="text/css" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"/>

    <link rel="stylesheet" type="text/css" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>

    <link rel="stylesheet" type="text/css" href="/static/public/css/styles_presentation.css"/>

</head>
<body>

<header class="fixed-top bg-dark p-2">
    <div class="d-flex align-items-center text-white px-2">
        <img class="mr-1" alt="BIT" width="32px" height="32px" src="/static/public/logo/favicon-32x32.png"/>
        <span class="font-weight-bold">Bolsa Inclusiva de Trabajo</span>
        <span class="font-weight-bold ml-auto" id="bit-presentation-section"></span>
    </div>
</header>

<main class="presentation vw-100 vh-95 carousel slide" data-ride="carousel" data-interval="false" id="bit-presentation">
    <div class="carousel-inner h-100">

        <!-- Title -->

        <section class="h-100 carousel-item active" id="presentation-title">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center">

                <div class="h-100 d-flex flex-row align-items-center justify-content-center mb-5">
                    <img class="mr-3" width="128px" alt="BIT" src="/static/public/logo/android-chrome-192x192.png"/>
                    <span class="display-3 font-weight-bold" id="bit-presentation-title">Bolsa Inclusiva de Trabajo</span>
                    <span class="h5 font-weight-bold" id="bit-presentation-objetive">
                        Trabajo Integrador Final para el curso Desarrollador Multiplataforma Certificado
                    </span>
                </div>

            </div>
        </section>

        <!-- Work team -->

        <section class="h-100 carousel-item" id="presentation-workteam">
            <div class="h-100 d-flex align-items-center justify-content-between">
                <div></div>

                <div class="card shadow w-23 h-94">
                    <img class="card-img-top card-image mx-auto mt-2"
                         alt="Rodriguez Rafael Horacio"
                         src="/static/public/img/rafa.png"/>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-center">Rodriguez Rafael Horacio</h5>
                        <p class="card-text small">44 años, 32 años codeando.<br/>
                            Desarrollador de sistemas, C++, VFP, .NET, C#, ASP.NET, Java, SQL,
                            y ahora Hibernate, Spring, ThyMyLeaf, Bootstrap.</p>
                    </div>
                </div>

                <div class="card shadow w-23 h-94">
                    <img class="card-img-top card-image mx-auto mt-2"
                         alt="Schmidt Cristian Hernán"
                         src="/static/public/img/cris.png"/>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-center">Schmidt Cristian Hernán</h5>
                        <p class="card-text small">Ingeniero Químico, Técnico en Electrónica,
                            dedicado a la Programación.<br/><br/>
                            Python, Java, Bash, JavaScript, C/C++, LaTeX,
                            Numpy, SciPy, Pandas, Django, Flask, GTK3, TKinter,
                            SpringBoot, Sparkjava, Thymeleaf, Bootstrap.</p>
                    </div>
                </div>

                <div class="card shadow w-23 h-94">
                    <img class="card-img-top card-image mx-auto mt-2"
                         alt="Smola Pablo Andrés"
                         src="/static/public/img/pablo.png"/>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-center">Smola Pablo Andrés</h5>
                        <p class="card-text small">Ingeniero Electrónico<br/>
                            Socio fundador de EX-OR<br/>
                            Automatizaciones Industriales y desarrollo de sistemas en Python, Qt, Kivy,
                            Flask, Jinja, Bootstrap, JavaScript, JQuery, C, Ladder, Assembler y
                            ahora Java, Spring Boot, Hibernate, Thymeleaf.</p>
                    </div>
                </div>

                <div class="card shadow w-23 h-94">
                    <img class="card-img-top card-image mx-auto mt-2"
                         alt="Winnik Vanina Ayelen"
                         src="/static/public/img/vanina.png"/>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-center">Winnik Vanina Ayelen</h5>
                        <p class="card-text small">Analista en Sistemas<br/>
                            Trabajo hace dos años en relación a Bases de Datos y recientemente
                            en el sector de desarrollo para proyectos.</p>
                    </div>
                </div>

                <div></div>
            </div>
        </section>

        <!-- Idea origin -->

        <section class="h-100 carousel-item" id="presentation-ideaorigin">
            <div class="h-100 d-flex align-items-center justify-content-center">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8 mx-auto">
                            <img class="w-100" alt="Idea origin" src="/static/public/img/idea_origin.svg"/>
                            <div class="d-flex align-items-center justify-content-end">
                                <img class="mr-2" alt="BIT" width="44px" src="/static/public/logo/favicon-32x32.png"/>
                                <span class="h5 mb-0 font-weight-bold">Bolsa Inclusiva de Trabajo</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Technologies -->

        <section class="h-100 carousel-item" id="presentation-technologies">
            <div class="h-100 d-flex flex-column align-items-center justify-content-between">

                <div></div>

                <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                    <div></div>
                    <img class="w-18" alt="Java" src="/static/public/img/java.png"/>
                    <img class="w-25" alt="Hibernate" src="/static/public/img/hibernate.png"/>
                    <img class="w-20" alt="Spring Boot" src="/static/public/img/spring-boot.png"/>
                    <div></div>
                </div>

                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div></div>
                    <img class="w-28" alt="Thymeleaf" src="/static/public/img/thymeleaf.png"/>
                    <img class="w-18" alt="HTML5 CSS3 JS5" src="/static/public/img/html5-css3-js6.png"/>
                    <img class="w-20" alt="Bootstrap" src="/static/public/img/bootstrap.png"/>
                    <div></div>
                </div>

                <div class="d-flex flex-row align-items-center justify-content-between mt-3">
                    <div></div>
                    <img class="w-30" alt="Heroku" src="/static/public/img/heroku.svg"/>
                    <div></div>
                </div>

                <div class="d-flex flex-row align-items-center justify-content-between
                            alert alert-success mt-4 mb-5 shadow-sm">
                    <table>
                        <tr>
                            <td><span class="font-weight-bold mr-2">Página:</span></td>
                            <td>
                                <a class="font-weight-bold" href="https://bit-bolsa-inclusiva-de-trabajo.herokuapp.com">
                                    https://bit-bolsa-inclusiva-de-trabajo.herokuapp.com
                                </a>
                            </td>
                            <td rowspan="2">
                                <a class="btn btn-primary ml-3
                                          d-flex flex-row align-items-center justify-content-between" href="/">
                                    <i class="bi bi-arrow-right-circle-fill pb-1 mr-2"></i> Ir a la página
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold mr-2">Código:</span></td>
                            <td>
                                <a class="font-weight-bold" href="https://github.com/bolsa-inclusiva-de-trabajo/bit">
                                    https://github.com/bolsa-inclusiva-de-trabajo/bit
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div></div>

            </div>
        </section>

    </div>
</main>

<footer class="container-fluid fixed-bottom p-3">
    <div class="row align-items-center">
        <div class="col text-center">
            <img alt="Misiones" height="40px" src="/static/public/img/misiones.png"/>
        </div>
        <div class="col text-center">
            <img alt="Silicon Misiones" height="40px" src="/static/public/img/silicon-misiones.png"/>
        </div>
        <div class="col text-center">
            <img alt="DirMOD" height="40px" src="/static/public/img/dirmod.png"/>
        </div>
        <div class="col text-center">
            <img alt="CPCI" height="40px" src="/static/public/img/cpci.png"/>
        </div>
        <div class="col text-center">
            <img alt="UTN BA" height="40px" src="/static/public/img/utn-ba.png"/>
        </div>
        <div class="col text-center">
            <img alt="Braintly" height="40px" src="/static/public/img/braintly.png"/>
        </div>
        <div class="col text-center">
            <img alt="Intel" height="40px" src="/static/public/img/intel.png"/>
        </div>
    </div>
</footer>

<a id="bit-presentation-prev"><i class="bi bi-chevron-double-left"></i></a>
<a id="bit-presentation-next"><i class="bi bi-chevron-double-right"></i></a>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        type="text/javascript" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        type="text/javascript" crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/public/js/scripts_presentation.js"></script>

</body>
</html>
