<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<br th:replace="/fragments/head :: head"/>
<body>
<br th:replace="/fragments/header :: header(null)"/>

    <div class="container-fluid py-special" id="mainVerticalAdjFooter">

        <div class="m-5">

            <div>testing template</div>

            <div>user.username: <span th:text="${user.username}"></span></div>

            <div>job.title: <span th:text="${job.title}"></span></div>

            <div>job.getInterestedUsersCount: <span th:text="${job.getInterestedUsersCount}"></span></div>

            <div>job.getApplyUsersCount: <span th:text="${job.getApplyUsersCount}"></span></div>

        </div>

    </div>

<br th:replace="/fragments/footer :: footer"/>
<br th:replace="/fragments/javascript :: javascript"/>
</body>
</html>
